<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Average Rating</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.average_rating.round(2) %></td>
        <td><%= movie.reviews.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>